%h1 Messages

%table
  %thead
    %tr
      %th User
      %th Message
      %th Options

  %tbody
    - @messages.each do |msg|
      %tr
        %td= msg.user.login
        %td= msg.content
        - if msg.user == current_user
          %td= link_to 'X', message_path(msg), method: :delete