%h1 Listing users

%table
  %thead
    %tr
      %th Login
      %th Email
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.login
        %td= user.email
        %td= link_to 'Show', user

